attrs==21.2.0
Brotli==1.0.9
charset_normalizer==3.3.2
ConfigParser==7.0.0
cryptography==3.4.8
Cython==3.0.11
dl==0.1.0
docutils==0.21.2
HTMLParser==0.0.2
hypothesis==6.110.0
importlib_metadata==6.11.0  # Choose the version that fits your requirements
ipython==8.12.3
ipywidgets==8.1.3
Jinja2==3.1.3  # Choose the version that fits your requirements
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==5.2.2  # Choose the version that fits your requirements
mtrand==0.1
mypy==1.11.1
numarray==1.5.1
Numeric==24.2
ordereddict==1.1
pickle5==0.0.12
Pillow==10.4.0  # Choose the version that fits your requirements
protobuf==3.20.3  # Choose the version that fits your requirements
psutil==5.9.0
PyInstaller==6.9.0
pyOpenSSL==24.2.1
pytest==8.2.0
pytz==2022.1
PyYAML==6.0.2  # Choose the version that fits your requirements
railroad==0.5.0
Sphinx==8.0.2
streamlit==1.23.1
thread==2.0.5
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4  # Choose the version that fits your requirements
xmlrpclib==1.0.1
zipp==3.19.2  # Choose the version that fits your requirements
google-generativeai==0.7.2  # Add this line for generative AI
